.hero-contact{
    @extend %header;
    background-image: url('images/contact-bg.jpg') !important;
    padding: 150px;
}

.content-contact{
    h1{
        font-weight: bold;
        padding: 80px 0 10px 0;
    }

    p{
        color: $grey-color;
        padding: 20px 0 30px 0;
    }

    input{
        margin: 10px 0;
        border: 2px solid #f0f0f0;
        box-shadow: none;

        &:focus{
            box-shadow: none;
            border-color: #555;
            transition: border 0.4s ease-in;
        }
    }

    .msg{
        height: 200px;
        margin-bottom: 60px;
    }
}