%header{
    background-position: center !important;
    background-size: cover !important;
    font-family: 'Merriweather', serif;
    text-align: center; 

    h1{
        color: white;
        font-size: 72px;
        max-height: 80px;
        font-weight: bold;
    }
}